# Proper Name <proper@email.xx> Commit Name <commit@email.xx>
Yohann Ferreira <yohann.ferreira@mail.fr> Bertram25 <yohann.ferreira@orange.fr>
Yohann Ferreira <yohann.ferreira@mail.fr> Yohann Ferreira <yohann_ferreira_at_orange_fr_>
