[Desktop Entry]
Version=1.0
Name=Valyria Tear
Name[gl]=A bágoa de Valïria
Comment=A 2D J-RPG
Comment[de]=2D-Rollenspiel
Comment[fr]=Un J-RPG en 2D
Comment[gl]=Xogo de rol en dúas dimensións
Comment[it]=Giochi di ruolo in 2D
Exec=valyriatear
StartupNotify=false
Terminal=false
Type=Application
Icon=valyriatear
Categories=Game;RolePlaying;
